body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #B2DAFF;
  }
  .main{
    width: 100%;
   margin-left: 500px;
   margin-top: 100px;
  }
  .main1{
    display: flex;
    flex-direction: column;
    width: 20%;
    height:auto;
    background-color: rgba(255, 255, 255,0.6);
    border-radius: 25px;
    outline: 1px solid #005DB2;
  }
  .box{
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
   gap: 10px;
 

  
    
  }
  #show{
    margin-right: 20px;
  }
  #userInput {
    width:90%;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: end;
    background-color: rgba(7, 7, 7, 0.0);
    outline: none;
    border: none;
    margin-right: 20px;
   
  }
  .btn {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 5px;
    outline: whitesmoke solid 1px;
    border: none;
  }
  .calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  
  }
  button{
    background-color: rgba(0, 93, 178,0.8);
    color: rgb(10, 11, 11);
  }
  h1{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
   text-decoration: line-through 3px solid  #005DB2;
  }